<div>{{title}}</div>
<button {{ action "sort" sortDef }} class="btn btn-default btn-xs" type="button">↑</button>
<button {{ action "sort" (concat sortDef ":desc") }} class="btn btn-default btn-xs" type="button">↓</button>
